# Cargo.lock changes should trigger dependency reviewers
Cargo.lock @tkhq/dependency-reviewers

# We also want this file (COWDEOWNERS file) to trigger dependency reviewers
# Otherwise anyone can remove dependency reviews!
/.github/CODEOWNERS @tkhq/dependency-reviewers
